.options {
    padding: 10px;
    display: flex;
    position: absolute;
    right: 0;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: rgb(77, 77, 70);
    width: 200px;
}

.button-active {
    background-image: linear-gradient(white, rgb(37, 37, 37));
}

.tools {
    width: 370px;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    gap: 10px;
}

.tools textarea {
    padding: 0;
}

canvas {
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}